.movieBox {
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.descBox {
  display: inline-block;
  margin-left: 30px;
  padding-top: 50px;
}
.title {
  font-size: 35px;
  color: rgb(41, 41, 41);
  font-weight: 800;
  margin-bottom: 10px;
}

.paragraph {
  font-size: 15px;
  font-weight: 600;
  color: rgb(61, 61, 61);
  margin-bottom: 15px;
}
